@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
	margin: 0;
	background: #050505;
	font-family: 'Work Sans', sans-serif;

}

.wrapper {
    background-color: #111;
    margin: 0 auto;
    height: 100%;
    width: 75%;
    display: block;
    position: relative;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-weight: normal;
    border: solid 1px #aaa;
    color: white;
}
